*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: crimson;
    color: white;
    cursor: pointer;
    z-index: 5;
    position: relative;
}

button:active{
    scale: 0.95;
}